# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas (Scientific computing library for Python)
2. Matplotlib (Data visualization library for Python)
3. Scikit-learn (Machine learning library for Python)

|Data Science Tools|
|---|
|Anaconda|
|Visual Studio Code|
|Jupyter Lite|

### Below are a few examples of evaluating arithmetic expressions in Python
(+ - / *)

This a simple arithmetic expression to multiply then add integers

In [9]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [10]:
200/60

3.3333333333333335

__Objectives:__
+ Create a Jupyter Notebook
+ Create markdown cell with title of the notebook
+ Create a markdown cell for an introduction
+ Create a markdown cell to list data science languages
+ Create a markdown cell to list data science libraries

## Author
Tom